<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kantor walut</title>
    <link rel="stylesheet" href="static/api_basic/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="static/api_basic/assets/fonts/font-awesome.min.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">PORÓWNYWARKA WALUT</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="https://github.com/olekczubiak/currency-exchange">GITHUB</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin">ADMIN</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead bg-primary text-white text-center">
        <div class="container"><img class="img-fluid d-block mx-auto mb-5" src="static/api_basic/assets/img/profile.png">
            <h1>Porównywarka walut</h1>
            <hr class="star-light">
            <div id="output-calculator"> </div>
            <div class="input-group">
                <input type="number" id="input-currency" class="form-control" placeholder="Podaj ilość" aria-label="Podaj ilość">
                <select class="custom-select" id="inputGroupSelect01">
                <option selected>Wybierz walutę</option>
                <option value="1">EUR</option>
                <option value="2">USD</option>
                <option value="3">CHF</option>
                <option value="4">GBP</option>
                </select>
                <select class="custom-select" id="inputGroupSelect02">
                    <option selected>Kupić/Sprzedać</option>
                    <option value="1">Kupić</option>
                    <option value="2">Sprzedać</option>
                    </select>
                <div class="input-group-append">
                <button id="btn-accept" class="btn btn-outline-secondary" type="button" onclick="currency()" >Oblicz</button>
            </div>
            </div>    
            <div id="input-html"></div>
        </div>
    </header>
    <section id="contact">
        <div class="container">
            <h2 class="text-uppercase text-center text-secondary mb-0">Kantory i waluty</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form id="contactForm" name="sentMessage" novalidate="novalidate">
                        <div class="control-group">
                            <div id='output' class="form-group floating-label-form-group controls mb-0 pb-2"><label>Name</label><small class="form-text text-danger help-block"></small></div>
                            

                            
                        </div>
                        <div id="success"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">AUTORZY:</h4>
                    <p>Aleksander Czubiak<br>Jan Koprowski</p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase">Wejdź na gita!</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="https://github.com/olekczubiak/currency-exchange"><i class="fa fa-github fa-fw"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4">O nas</h4>
                    <p class="lead mb-0"><span>Projekt zrobiony w ramach przedmiotu Programowanie Obiektowe</span></p>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright © JAN I OLEK 2021</small></div>
    </div>

    <script>

        async function getData() {
        fetch('http://127.0.0.1:8000/last?format=json', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(res => res.json())
            .then(data =>    {
                let output = '';
                let tablica = [];

                data.forEach(function(currency){
                    tablica.push(currency.currency);
                    tablica.push(currency.buy);
                    tablica.push(currency.sell);
                });
                output += '<table class="table"><thead><tr> <th scope="col">#</th> <th scope="col">Nazwa kantoru</th> <th scope="col">waluta</th> <th scope="col">Cena kupna</th> <th scope="col">Cena sprzedazy</th></tr> </thead> <tbody> ';
                
                // USD
                output += '<tr> <th scope="row">1</th> <td><a href="https://internetowykantor.pl/">Internetowy kantor</td> <td>'+ tablica[0] +'</td> <td> '+ tablica[1] +'</td> <td> '+ tablica[2]+'</td> </tr>   ';
                output += ' <tr> <th scope="row">2</th> <td><a href="https://topfx.pl/">TopFx</td> <td>'+ tablica[12] +'</td> <td>'+tablica[13] +'</td> <td>'+tablica[14] +'</td> </tr>';
                output += ' <tr> <th scope="row">3</th> <td><a href="https://liderwalut.pl/">Lider walut</td> <td>'+ tablica[24] +'</td> <td>'+tablica[25] +'</td> <td>'+tablica[26] +'</td> </tr>';
                // CHF
                output += '<tr> <th scope="row">1</th> <td><a href="https://internetowykantor.pl/">Internetowy kantor</td> <td>'+ tablica[3] +'</td> <td> '+ tablica[4]+'</td> <td> '+ tablica[5]+'</td> </tr>   ';
                output += ' <tr> <th scope="row">2</th> <td><a href="https://topfx.pl/">TopFx</td> <td>'+ tablica[15] +'</td> <td>'+tablica[16] +'</td> <td>'+tablica[17] +'</td> </tr>';
                output += ' <tr> <th scope="row">3</th> <td><a href="https://liderwalut.pl/">Lider walut</td> <td>'+ tablica[27] +'</td> <td>'+tablica[28] +'</td> <td>'+tablica[29] +'</td> </tr> ';
                // GBP
                output += '<tr> <th scope="row">1</th> <td><a href="https://internetowykantor.pl/">Internetowy kantor</td> <td>'+ tablica[6] +'</td> <td> '+ tablica[7]+'</td> <td> '+ tablica[8]+'</td> </tr>   ';
                output += ' <tr> <th scope="row">2</th> <td><a href="https://topfx.pl/">TopFx</td> <td>'+ tablica[18] +'</td> <td>'+tablica[19] +'</td> <td>'+tablica[20] +'</td> </tr>';
                output += ' <tr> <th scope="row">3</th> <td><a href="https://liderwalut.pl/">Lider walut</td> <td>'+ tablica[30] +'</td> <td>'+tablica[31] +'</td> <td>'+tablica[32] +'</td> </tr>';
                // EUR
                output += '<tr> <th scope="row">1</th> <td><a href="https://internetowykantor.pl/">Internetowy kantor</td> <td>'+ tablica[9] +'</td> <td> '+ tablica[10]+'</td> <td> '+ tablica[11]+'</td> </tr>   ';
                output += ' <tr> <th scope="row">2</th> <td><a href="https://topfx.pl/">TopFx</td> <td>'+ tablica[21] +'</td> <td>'+tablica[22] +'</td> <td>'+tablica[23] +'</td> </tr>';
                output += ' <tr> <th scope="row">3</th> <td><a href="https://liderwalut.pl/">Lider walut</td> <td>'+ tablica[33] +'</td> <td>'+tablica[34] +'</td> <td>'+tablica[35] +'</td> </tr> </tbody> </table>';
                document.getElementById('output').innerHTML = output;
            })
            .catch(error => console.log('ERROR'))
        }
        getData();
        setInterval(getData, 25000)
    </script>

    <script>

        var insetButton = document.getElementById("input-currency");
        insetButton.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("btn-accept").click();
            }
        }); 

        const input = document.getElementById('input-currency');
        const select = document.getElementById('inputGroupSelect01');
        const action = document.getElementById('inputGroupSelect02');
        const API_URL = "http://127.0.0.1:8000/last?format=json"

        async function currency(){
            let html = '';
            const res = await fetch(API_URL);
            const data = await res.json();
            // console.log(data);
            let internetowyUsdBuy = data[0].buy;
            let internetowyUsdSell = data[0].sell;
            let internetowyCHFBuy = data[1].buy;
            let internetowyCHFSell = data[1].sell;
            let internetowyGBPBuy = data[2].buy;
            let internetowyGBPSell = data[2].sell;
            let internetowyEURBuy = data[3].buy;
            let internetowyEURSell = data[3].sell;
            let topfxUSDBuy = data[4].buy;
            let topfxUSDSell = data[4].sell;
            let topfxCHFBuy = data[5].buy;
            let topfxCHFSell = data[5].sell;
            let topfxGBPBuy = data[6].buy;
            let topfxGBPSell = data[6].sell;
            let topfxEURBuy = data[7].buy;
            let topfxEURSell = data[7].sell;
            let liderwalutUSDbuy = data[8].buy;
            let liderwalutUSDsell = data[8].sell;
            let liderwalutCHFbuy = data[9].buy;
            let liderwalutCHFsell = data[9].sell;
            let liderwalutGBPbuy = data[10].buy;
            let liderwalutGBPsell = data[10].sell;
            let liderwalutEURbuy = data[11].buy;
            let liderwalutEURsell = data[11].sell;
// EUR
            if(select.value == "1" && action.value == "1")  {
                // Pokazuje wszystkie euro do kupna
                html += '<p> Internetowy Kantor–' + (input.value*internetowyEURBuy).toFixed(2) + ' zł </p>';
                html += '<p> TopFx–' + (input.value*topfxEURBuy).toFixed(2) + ' zł </p>';
                html += '<p> Lider walut–' + (input.value*liderwalutEURbuy).toFixed(2) + ' zł </p>';
};
            if(select.value == "1" && action.value == "2")  {
                // Pokazuje wszystkie euro do sprzedazy
                html += '<p> Internetowy Kantor–' + (input.value*internetowyEURSell).toFixed(2) + ' zł </p>';
                html += '<p> TopFx–' + (input.value*topfxEURSell).toFixed(2) + ' zł </p>';
                html += '<p> Lider walut–' + (input.value*liderwalutEURsell).toFixed(2) + ' zł </p>';
};
// USD
            if(select.value == "2" && action.value == "1")  {
                // Pokazuje wszystkie usd do kupna
                html += '<p> Internetowy Kantor–' + (input.value*internetowyUsdBuy).toFixed(2) + ' zł </p>';
                html += '<p> TopFx–' + (input.value*topfxUSDBuy).toFixed(2) + ' zł </p>';
                html += '<p> Lider walut–' + (input.value*liderwalutUSDbuy).toFixed(2) + ' zł </p>';
};
            if(select.value == "2" && action.value == "2")  {
                // Pokazuje wszystkie usd do sprzedazy
                html += '<p> Internetowy Kantor–' + (input.value*internetowyUsdSell).toFixed(2) + ' zł </p>';
                html += '<p> TopFx–' + (input.value*topfxUSDSell).toFixed(2) + ' zł </p>';
                html += '<p> Lider walut–' + (input.value*liderwalutUSDsell).toFixed(2) + ' zł </p>';
};
// CHF
            if(select.value == "3" && action.value == "1")  {
                // Pokazuje wszystkie CHF do kupna
                html += '<p> Internetowy Kantor–' + (input.value*internetowyCHFBuy).toFixed(2) + ' zł </p>';
                html += '<p> TopFx–' + (input.value*topfxCHFBuy).toFixed(2) + ' zł </p>';
                html += '<p> Lider walut–' + (input.value*liderwalutCHFbuy).toFixed(2) + ' zł </p>';
};
            if(select.value == "3" && action.value == "2")  {
                // Pokazuje wszystkie CHF do sprzedazy
                html += '<p> Internetowy Kantor–' + (input.value*internetowyCHFSell).toFixed(2) + ' zł </p>';
                html += '<p> TopFx–' + (input.value*topfxCHFSell).toFixed(2) + ' zł </p>';
                html += '<p> Lider walut–' + (input.value*liderwalutCHFsell).toFixed(2) + ' zł </p>';
};
// GBP
            if(select.value == "4" && action.value == "1")  {
                // Pokazuje wszystkie GBP do kupna
                html += '<p> Internetowy Kantor–' + (input.value*internetowyGBPBuy).toFixed(2) + ' zł </p>';
                html += '<p> TopFx–' + (input.value*topfxGBPBuy).toFixed(2) + ' zł </p>';
                html += '<p> Lider walut–' + (input.value*liderwalutGBPbuy).toFixed(2) + ' zł </p>';
};
            if(select.value == "4" && action.value == "2")  {
                // Pokazuje wszystkie GBP do sprzedazy
                html += '<p> Internetowy Kantor–' + (input.value*internetowyGBPSell).toFixed(2) + ' zł </p>';
                html += '<p> TopFx–' + (input.value*topfxGBPSell).toFixed(2) + ' zł </p>';
                html += '<p> Lider walut–' + (input.value*liderwalutGBPbuy).toFixed(2) + ' zł </p>';
};
            document.getElementById('input-html').innerHTML = html;
        };
    </script>
    <div class="d-lg-none scroll-to-top position-fixed rounded"><a class="d-block js-scroll-trigger text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
    <script src="static/api_basic/assets/js/jquery.min.js"></script>
    <script src="static/api_basic/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="static/api_basic/assets/js/freelancer.js"></script>
</body>

</html>